@keyframes comeFromTop {
    0% {
        opacity: 0;
        transform: translateY(-50vh);
    }
    80%{
        transform: translateY(1vh);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}