$color-blueful: #1a73e8;
$color-blueful-dark: #1766a6;
$color-blueful-dark-2: #3273a8;
$color-blueful-2: #037ae1;
$color-herolo: #9f86ff;
$color-dark:#090d14;
$color-dark-2:#262a30;
$color-background-dark:#2f333a;
$color-grey:#f7f7f7;
$color-grey-2:#e0e0e0;
$color-grey-3: #9ba4b6;
$color-grey-dark: #777;
$color-white: #fff;
$font-primary: "Open Sans",sans-serif;
$shadow-small: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
$shadow-big: 0px 8px 16px 0px rgba(0, 0, 0, 0.16);