.dashboard {
  width: 100%;
  padding: 20px;

  &__username {
    color: #f7f7f7;
    display: block;
    font-size: 20px;
    margin-bottom: 15px;
  }

  &__content {
    display: flex;
    // align-items: flex-start;
  }
  &__left {
    background-color: white;
    width: 50% !important;
  }

  &__right {
    margin-left: 20px;
    width: 50% !important;

    &__doughnut {
      padding: 10px;
      background-color: #f7f7f7;
      padding: 2rem;
      border-radius: 4px;
      height: 50%;
    }

    &__graph {
      padding: 10px;
      margin-top: 1%;
      background-color: #f7f7f7;
      padding: 2rem;
      border-radius: 4px;
      height: 49%;
    }
  }
}
