.nav {
  position: fixed;
  width: 15rem;
  height: 100vh;
  background-color: $color-grey;
  &__list {
    text-align: center;
  }

  &__item {
    padding: 2rem 1rem;
    border-bottom: 1px solid $color-grey-3;
    font-size: 1.7rem;
    color: $color-grey-3;
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    &-active{
      background-color: $color-background-dark;
      li {
        color: $color-blueful;
      }
    }
    &__link {
      color: $color-grey-3;
    }
  }
}
